{
   project =
   {
      description="💬 Decode and encode NSData with base64";
      domain="github";
      name="MulleBase64";
      user="MulleWeb";
      repo="MulleBase64";
      homepage="https://github.com/MulleWeb/MulleBase64";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🧱 MulleFoundationBase amalgamates Foundations projects";
         domain="github";
         name="MulleFoundationBase";
         repo="MulleFoundationBase";
         url="https://github.com/MulleFoundation/MulleFoundationBase";
         user="MulleFoundation";
      },
      {
         description="📒 Lists mulle-objc runtime information contained in executables.";
         domain="github";
         name="mulle-objc-list";
         repo="mulle-objc-list";
         url="https://github.com/mulle-objc/mulle-objc-list";
         user="mulle-objc";
      }
   );
}
